.tile-base {
  flex-direction: column;
}

.colors-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.setting-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}

#primary, #secondary, #tertiary {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 2.5em;
  height: 2.5em;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &::-webkit-color-swatch {
    border-radius: 50%;
    border: 0.5pt solid gray
  }

  &::-moz-color-swatch {
    border-radius: 50%;
    border: 0.5pt solid gray
  }
}

#apply {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  padding: 0;
  height: 2em;
  width: 8em;
  align-self: center;
  border-radius: 10px;

  border: 0.5pt solid gray;
}
